<a href="https://colab.research.google.com/github/anrwt12/NumPy/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#numpy >> numerical python
#2005  developed by Travis Oliphant
#before 2005 there were special mathematical tools ( similar to Tora, Lingo)

In [ ]:
import numpy as np
# as  is alias

In [ ]:
np.__version__

In [ ]:
print(np.__doc__)

In [ ]:
lis=[1,2,3,"pwskills",3+5j,True,1.2]
type(lis)
# list stores hetrogenous data

In [ ]:
#NumPy is used because it makes numerical and mathematical operations fast, easy, and efficient in Python.
#Fast Computation NumPy works in C internally, so it is much faster than Python lists

In [ ]:
# convert list to aaray
l=[1,2,3,4,5]

In [ ]:
arr=np.array(l) # numpy.ndarray >> n dimensional array
#numpy stores homogenous data it can be int, string , float values

In [ ]:
type(arr)

In [ ]:
arr

In [ ]:
l=[1,2,3,4,5,"pw skills"]

In [ ]:
arr1=np.array(l)

In [ ]:
arr1
# array store homogenous data
#here it have different data type array covert the data type into same data type into strings

In [ ]:
type(arr1)

In [ ]:
arr

In [ ]:
l=[1,2,3,4,5,6.3]

In [ ]:
arr2=np.array(l)

In [ ]:
arr2

In [ ]:
type(arr2)

In [ ]:
arr2.ndim

In [ ]:
arr4=np.array([[1,2,3],[4,5,6]])

In [ ]:
arr4

In [ ]:
arr4.ndim

In [ ]:
mat=np.matrix([1,2,3,4]) # matrix is a specialised array of 2 dimension

In [ ]:
type(mat)

In [ ]:
mat.ndim

In [ ]:

mat

In [ ]:
#To understand the dimension, see the no of opening/closing square bracket

In [ ]:
np.matrix([[[1,2],[4,5]],[6,7]])# it will show error because matris is always 2 dimnesion

In [ ]:
arr5=np.array([[[1,2],[4,5],[6,7]]])

In [ ]:
arr5

In [ ]:
type(arr5)

In [ ]:
arr5.ndim

In [ ]:
#more ays to array
l=[1,2,3,4]
np.array(l)#intial function as array to convert to an array , np.array came after this

In [ ]:
#another way
np.asanyarray([1,2,3])

In [ ]:
#asanyarray will contert the input to an ndarray , but pass ndarray
#subclasses through
#if something is already an array or part of array, it will simply allow to pass through it

In [ ]:
np.asanyarray([1,3,4])

In [ ]:
mat

In [ ]:
np.asanyarray(mat)

In [ ]:
t=([1,2,3],[4,5,6])

In [ ]:
type(t)

In [ ]:
np.array(t)

In [ ]:
arr

In [ ]:
#accessing element of the array

In [ ]:
arr[3]

In [ ]:
arr[0]=100

In [ ]:
arr

In [ ]:
arr[1]

In [ ]:
#a and arr will point to same memory location , so if there is change is a or arr
#it will reflect on both

In [ ]:
a=arr

In [ ]:
a

In [ ]:
arr

In [ ]:
a[0]=300

In [ ]:
a

In [ ]:
arr

In [ ]:
#to create an array>> np.array, np.asarray , np.asany array

In [ ]:
#multiple approaches to generate any array

In [ ]:
arr8=np.fromfunction(lambda i,j: i==j,(3,3))# construct an array by executing a function over each coordinate

In [ ]:
1==1

In [ ]:
1==2

In [ ]:
arr8

In [ ]:
arr8.ndim

In [ ]:
arr8.shape # shape of array

In [ ]:
arr8.size # no of size

In [ ]:
#True is stored as 1 and False is stored as 0 in python

In [ ]:
arr9=np.fromfunction(lambda i,j: i*j , (3,3))

In [ ]:
arr9.size

In [ ]:
arr9.shape

In [ ]:
arr9.ndim

In [ ]:
for i in range(5):
  print(i)

In [ ]:
[i for i in range(5)]

In [ ]:
list(i for i in range(5))

In [ ]:
iterator = (i for i in range (5))

In [ ]:
iterator

In [ ]:
np.fromiter(iterator,int) # create a new 1-dimensional array from an iterable object.

In [ ]:
np.fromstring('22 23 24', sep=" ")

In [ ]:
np.fromstring('22 23 24', sep=" ", dtype= int )#by default is a float  values inside should be integer

In [ ]:
#for string character you have to use split
string="Anjali, Ekta, Mani"
string.split(" ,")

In [ ]:
#for string character you have to use split
string = "Ajay, Bijay, Sanjay"
string.split(",")

In [ ]:
np.array(string.split(","))

In [ ]:
range(0,10)

In [ ]:
list(range(0,10))

In [ ]:
#other method of numpy >> To generate a sequence of number
np.arange(1, 10) #arange returns evenly spacified values within a given interval, by default step is 1

In [ ]:
np.arange(1,10,0.1)

In [ ]:
np.linspace(1,5,10)# give me 10 numbers between 1 and 5